version: '3.8'

services:
  # --- YOUR APP ---
  app-service:
    build: .
    ports:
      - "5005:5005"
    environment:
      # 2. Connect to 'db-service' (NOT localhost)
      # 3. Use the 'sa' user (System Admin) which exists by default
      - SPRING_DATASOURCE_URL=jdbc:sqlserver://db-service:1433;databaseName=FoodDeliverySystem;encrypt=false;trustServerCertificate=true
      - SPRING_DATASOURCE_USERNAME=sa
      - SPRING_DATASOURCE_PASSWORD=Strong!Pass123
    depends_on:
      - db-service

  # --- THE DATABASE (SQL SERVER) ---
  db-service:
    image: mcr.microsoft.com/mssql/server:2022-latest
    container_name: sql_server_container
    environment:
      - ACCEPT_EULA=Y
      - MSSQL_SA_PASSWORD=Strong!Pass123
    ports:
      - "1435:1433"